/* style.css */

body {
    background-color: dark; /*Negro*/
    font-family: "Arial", sans-serif;
    line-height: 1.5; /* Puedes ajustar el valor según tus preferencias */
}

h1 {
    text-align: center;
    color: #FF0000; /* Esto es para asegurarte de que el texto sea visible en el fondo negro */
}


#seccion1 h2, #seccion1 p {
    color: #FF0000; /* Blanco */
}

#seccion2 h2, #seccion2 p, #seccion2 ul, #seccion2 li {

    color: #FFD700; /* Dorado */
}

#seccion3 h3, #seccion3 p {
    color: #008000; /* Verde */
}

#seccion4 h3, #seccion4 p {

    color: #0000FF; /* Azul */

}

#seccion5 h3, #seccion5 p, #seccion5 strong {
    color: #808080 /*Gris*/
} 

#seccion6 h3, #seccion6 p {
    color: #800080 /*Morado*/
}

#seccion7 h3, #seccion7 p, #seccion7 strong {
    color: #FFA500 /*Naranja*/
} 

#seccion8 h3, #seccion8 p, #seccion8 strong {
    color: #FF69B4 /*Rosa*/
} 

#seccion9 h3, #seccion9 p, #seccion9 ul, #seccion9 li, #seccion9 strong {
    color: #C0C0C0; /*Plateado*/
}

#seccion10 h3, #seccion10 p {
    color: #00FFFF /*Cian*/
}

#seccion11 h3, #seccion11 p {
    color: #E6E6FA /*Lavanda*/
}

#seccion12 h3, #seccion12 p, #seccion12 em, #seccion12 a{ 
    color: #32CD32; /*Verde limon*/ 
}

#enbebido iframe { 
    /*Para el embebido*/
    margin: 1auto;
    display: block;
    background-color: white;
}

#continuacion h3, #continuacion p, #continuacion em { 
    color: #32CD32; /*Verde limon*/ 
}

#Imagen-Stormtrooper img {
    display: block;
    margin: 0 auto;
}

#continuidad p, #continuidad em {
    color: #32CD32; /*Verde limon*/
}


#seccion13 h2, #seccion13 ol, #seccion13 li, #seccion13 p {
    color: #00CED1; /*Turquesa Oscuro*/ 
}

#seccion14 h2{
    color: #000080;
}










