/* style.css */

body {
    background-color: #000;
}

h1 {
    text-align: center;
    color: #FF0000; /* Esto es para asegurarte de que el texto sea visible en el fondo negro */
}


#seccion1 h2, #seccion1 p {
    color: white; /* blanco */
}

#seccion2 h2, #seccion2 p #seccion2 ul #seccion2 li{

    color: #FFD700; /* Dorado */
}

#seccion3 h3, #seccion3 p{
    color: #008000; /*Verde*/
}